<h1 class="w-50 m-auto text-center alert alert-dark mt-2">Registration</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <form (ngSubmit)="Add()" [formGroup]="validationForm" class="form">
        <div *ngIf="valid">
          <p class="alert alert-success">the student is added successfully</p>
        </div>
        <div class="form-group d-flex mt-2">
          <label class="col-3" for="nm">Name</label>
          <input formControlName="name" class="form-control" id="nm" type="text" />
        </div>
        <div *ngIf="!NameValid">
          <p> the name should be at least 3 characters</p>
        </div>
        <div class="form-group d-flex mt-2">
          <label class="col-3" for="ag">Age</label>
          <input formControlName="age" class="form-control" id="ag" type="number" />
        </div>
        <div *ngIf="!AgeValid">
          <p> 20 &lt; Age &lt; 40</p>
        </div>
        <div class="form-group d-flex mt-2">
          <label class="col-3" for="mail">Email</label>
          <input formControlName="email" class="form-control" id="mail" type="email" />
        </div>
        <div *ngIf="!EmailValid">
          <p> the email is not valid</p>
        </div>
        <div class="form-group text-center mt-2">
          <input class="btn btn-outline-success" id="nm" type="submit" value="Submit" />
        </div>
      </form>
    </div>
  </div>
</div>
